<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stipt. Local</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://api.fontshare.com">
  <link href="https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>

{% include "partials/_topbar.html" %}
{% include "partials/_screen_setup.html" %}
{% include "partials/_screen_courses.html" %}
{% include "partials/_screen_sections.html" %}
{% include "partials/_screen_session.html" %}
{% include "partials/_screen_settings.html" %}
{% include "partials/_dialogs.html" %}

<script>const IS_NATIVE = {{ is_native | tojson }};</script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
